<div class="body-container">
  At all times, if the player has necessary tools and no higher priority, they should try to harvest resources as
  these will always be depleted. This includes:
  <ul>
    <li>
      Cut grass
    </li>
    <li>
      Twigs
    </li>
    <li>
      Logs
    </li>
    <li>
      Stone
    </li>
    <li>
      Nitre (Kate calls this nitrate)
    </li>
    <li>
      Flint
    </li>
    <li>
      Gold
    </li>
    <li class="li-indent">
      While this is the least important to regularly gather, it can still be useful to have on hand.
    </li>
    <li>
      Marble
    </li>
  </ul>
</div>

<footer>
  <button>
    <a routerLink="/predator-page" routerLinkActive="active">
      <div>Predator</div>
    </a>
  </button>
  <button>
    <a routerLink="/environment-page" routerLinkActive="active">
      <div>Environment</div>
    </a>
  </button>
</footer>