<!-- <app-top-bar></app-top-bar> -->
<div class="main-display-container main body-container">
<h2>Don't Starve Together: Beginner's Guide</h2>

<p>Hello and welcome to the unofficial guide for Don’t Starve Together (DST)! This is where you’re going to learn what
  to
  do for yourself, what to do for the team, what will most benefit it, and what will destroy it.
</p>

<mat-toolbar color="primary">
  <mat-toolbar-row class="button-grid">
    
    <span class="category-button img-s">
      <a routerLink="/survival-page" routerLinkActive="active">
        <img 
          src="../../assets/images/survival.PNG"
          alt="Survival" />
        <div class="overlay">Survival</div>
      </a>
    </span>

    <span class="category-button img-e">
      <a routerLink="/environment-page" routerLinkActive="active">
        <img
          src="../../assets/images/environment.PNG"
          alt="Environment" />
        <div class="overlay">Environment</div>
      </a>
    </span>

    <span class="category-button">
      <a routerLink="/predator-page" routerLinkActive="active">
        <img
          src="../../assets/images/predator.PNG"
          alt="Predator" />
        <div class="overlay">Predator</div>
      </a>
    </span>

  </mat-toolbar-row>
</mat-toolbar>
<!-- <app-tabbed-viewer></app-tabbed-viewer> -->
</div>



