    <body>
      <button class="container">
        <div class="title">
          <div class="medium-glitch">D</div>
          <div class="extra-fast-glitch">o</div>
          <div class="medium-glitch">n't </div>
          <div class="slow-glitch">S</div>
          <div class="medium-glitch">t</div>
          <div class="fast-glitch">ar</div>
          <div class="slow-glitch">v</div>
          <div class="medium-glitch">e</div>

          <div class="together-fade">Together</div>
          <div class="tooltip"><br />c l i c k t o e n t e r </div>
        </div>
      </button>
    </body>
