.mat-toolbar {
  background: black;
  margin-bottom: 50px;
  z-index: 1;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo,
.title {
  color: white;
  margin: 0px 50px;
  padding: 0px 30px;
  height: 75px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.right-aligned-button {
  position: absolute;
  margin-left: calc(100% - 200px);
}

.mat-list-item-content {
  padding: 0px 20px 0px 10px;
}

.material-icons {
  padding-right: 5px;
}

.uga-toolbar {
  color: white;
  background-color: black;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer,
.toolbar-spacing {
  flex: 1 1 auto;
}

.dst-button {
  /* background: #65592a; */
  background: transparent;
  font-size: 24px;
  color: white;
  font-family: 'belisa';
}
