<div  *ngIf="router.url != '/'">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <span><img class="logo"
        src="https://server.nitrado.net/img.nitrado/games/dont-starve-together/dont-starve-together-header.png"
        alt="Don't Starve Together" /></span>
    <span class="menu-spacer"></span> -->
    <span>
      <a routerLink="/home" routerLinkActive="active">
        <img class="logo"
          src="https://server.nitrado.net/img.nitrado/games/dont-starve-together/dont-starve-together-header.png"
          alt="Don't Starve Together" />
      </a>
    </span>
    <button mat-button class="right-aligned-button dst-button" style="background-color: white">
      <a routerLink="/" routerLinkActive="active">
        test
      </a>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
</div>
