mat-accordion {
  font-family: 'Calibri';
  font-size: 18px;
}

mat-expansion-panel-header {
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

mat-expansion-panel {
  margin-left: 5px;
  transition: background-color 0.3s, color 0.3s;
}

mat-expansion-panel:hover,
.mat-expanded {
  background-color: rgb(121, 95, 77, 0.8);
  color: white;
}

.top-level-accordion,
.accordion-all-buttons {
  padding: 10px 30px;
}

span {
  line-height: 1.5em;
  padding: 0px 10px;
  text-align: justify;
}

ul,
li {
  line-height: 1.5em;
  margin: 5px 0px 5px 20px;
  list-style-type: disc;
}

.li-indent {
  list-style-type: circle;
  margin-left: 35px;
}

.li-indent-indent {
  list-style-type: square;
  margin-left: 50px;
}

.li-indent-indent-indent {
  list-style-type: disc;
  margin-left: 65px;
}
