<mat-accordion class="top-level-accordion" multi>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Getting Started
    </mat-expansion-panel-header>
    <!-- first three days panel  -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Days One through Three
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- resources panel -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Resources
      </mat-expansion-panel-header>
      <span>
        At all times, if the player has necessary tools and no higher priority, they should try to harvest resources as
        these will always be depleted. This includes:
        <ul>
          <li>
            Cut grass
          </li>
          <li>
            Twigs
          </li>
          <li>
            Logs
          </li>
          <li>
            Stone
          </li>
          <li>
            Nitre (Kate calls this nitrate)
          </li>
          <li>
            Flint
          </li>
          <li>
            Gold
          </li>
          <li class="li-indent">
            While this is the least important to regularly gather, it can still be useful to have on hand.
          </li>
          <li>
            Marble
          </li>
        </ul>
      </span>
    </mat-expansion-panel>
    <!-- food panel -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Food
      </mat-expansion-panel-header>
      <span>
        Food is a necessary component of the game, as suggested by the name; however, not all food is created equally.
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Crockpot
          </mat-expansion-panel-header>

          <li>The crockpot is easily the most valuable resource in the game. This will create high
            benefit foods when
            four items are combined. The recipes below should regularly work:</li>
          <li class="li-indent">
            One meat + one monster meat + two filler
          </li>
          <li class="li-indent">One monster meat + one red cap + two filler (Note: this is a mod)</li>
          <li class="li-indent">Three honey + one filler</li>
          <li class="li-indent">One meat + three filler</li>
          <li class="li-indent">One meat + one filler + two ice</li>
          <li class="li">Note: frog legs count as meat for the above recipes.</li>
          <li class="li">Note: some recipes will be inedible, such as four ice, four butterflies, or a dish with
            more than one
            monster meat.</li>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Filler
          </mat-expansion-panel-header>
          <span>Forage <em>should not</em> be eaten unless completely out of food and away from camp.</span>
          <li>Forage</li>
          <li class="li-indent">
            This includes,
            cooked or otherwise:</li>
          <li class="li-indent-indent">Berries</li>
          <li class="li-indent-indent">Carrots</li>
          <li class="li-indent-indent">Birch nuts</li>
          <li class="li-indent-indent">Mushrooms</li>
          <li class="li-indent-indent-indent">Mushrooms can screw you over real quick. Cooked green caps will quickly
            restore
            sanity. Raw green and
            raw
            red caps will hurt you real fast.</li>
          <li class="li-indent">If you're away from camp and out of prepared food, cooking these items over a campfire
            will provide ample
            nutrition. However, considering these foods provide more benefit when combined with others, this is only
            to
            be done in an emergency situation.</li>
          <li>Crops</li>
          <li class="li-indent">These come from either farms or (if Wormwood is in game) sown in the ground. If farms
            are utilized, these
            are very slow to grow and resource intensive. Only upgraded farms should be used. If grown from the
            ground,
            Wormwood has to spend time and resources growing these.</li>
        </mat-expansion-panel>
        <ul>
          <li>Drying Rack</li>
          <li class="li-indent">We haven't done much with this yet. Usually we die before it'd be worth it.</li>
          <li>Raw Meat</li>
          <li class="li-indent">If you eat raw meat (unless your character specifically can) or monster meat (cooked or
            raw), you will
            get
            sick and you will die.</li>

        </ul>
      </span>
    </mat-expansion-panel>
    <!-- crafting panel -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Crafting
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- season panel  -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Seasons
      </mat-expansion-panel-header>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Autumn
        </mat-expansion-panel-header>
        <span>this is a nice time. false sense of security.</span>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Winter
        </mat-expansion-panel-header>
        <span>not bad after the twelfth playthrough.</span>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Spring
        </mat-expansion-panel-header>
        <span>it wet and your character isn't appreciative. except the fish girl.</span>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Summer
        </mat-expansion-panel-header>
        <span>fuck this, might as well die.</span>
      </mat-expansion-panel>
    </mat-expansion-panel>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Combat
    </mat-expansion-panel-header>
    <!-- agro panel  -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Agro Creatures
      </mat-expansion-panel-header>
      <!-- hounds panel  -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Hounds
        </mat-expansion-panel-header>
        <li>Hound Attacks</li>
        <li class="li-indent">Hounds attack regularly starting typically on the eighth day of the game. These
          attacks
          start out small
          and
          will grow as the game progresses. Conveniently, the character will announce the oncoming prescence once the
          hounds become loud; they are audible before this if you listen carefully. If Wendy is present, try to lead the
          hounds to Abigail and let her take most of the attacks. Otherwise, additional approaches include:</li>
        <li class="li-indent-indent">Befriending pig-men by giving them monster meat. They will in turn
          defend you.
        </li>
        <li class="li-indent-indent">Leading the hounds to a spider's den.</li>
        <li class="li-indent-indent">Leading the hounds to a Beefalo herd. Regardless of the Beefalo's agro
          status,
          they
          serve as quality
          tanks
          against the hounds and will fight back.</li>
        <li class="li-indent-indent">Leading the hounds to a Treeguard. This is a little weak in my opinion
          but you
          do you.
        </li>
        <li>Hound Mounds</li>
        <li class="li-indent">Hounds naturally occur in some deserts among large piles of bones. You can kill
          them but
          they just keep
          spawning. Best just to go home as they'll stop following you eventually.</li>
        <li>Red Hound</li>
        <li class="li-indent">The red hounds occur typically in summer and will ignite when killed. They are
          the
          reason for Kate's fear of fighting any hounds at camp: sometimes any hound ignites for zero reason.
        </li>
        <li>White Hound</li>
        <li class="li-indent">The white hounds have to go with freezing or something. They're mostly winter
          creatures.
          You can't kill
          them
          with an ice staff or something.</li>
      </mat-expansion-panel>
      <!-- resource panel  -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Resource Creatures
        </mat-expansion-panel-header>
        <li>Clockwork</li>
        <li class="li-indent">These tend to be the most useful creatures as they're the main source of gears, along
          with tumbleweeds and
          graves. They're fairly strong, but two players in log armor with spears should be able to take them out with
          little trouble.</li>
        <li>Lightbulb Fish Things</li>
        <li class="li-indent">I'm still not sure. They're not really problematic, but they are agro. Having Wendy makes
          this incredibly
          simple as Abigail is not bound by walls or sea.</li>
        <li>Frogs</li>
        <li class="li-indent">These are awful and can gang up real quick. Best to stay away from large clusters of
          ponds unless Wendy is
          in game or the player is feeling cocky. Frog ponds freeze in winter.</li>
        <li>Spiders</li>
        <li class="li-indent">Useful. Not too bad except the warriors. Abigail has no trouble unless three or more dens
          attack at once.
          Silk and spider glands are incredibly useful.</li>
        <li>Tallbird</li>
        <li class="li-indent">If you can get her egg, it doesn't spoil and makes for a good back up food in the winter.
          With log armor
          she
          won't hurt you much and will only follow you two screens worth before returning to her nest.</li>
      </mat-expansion-panel>
      <!-- dangerous panel  -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Dangerous Creatures
        </mat-expansion-panel-header>
        <li>Beefalo in Heat</li>
        <li class="li-indent">If the Beefalo butts are red, avoid. Mega avoid. Just leave. They'll stop chasing you
          eventually but
          they're
          get real mean first.</li>
        <li>Treeguards</li>
        <li class="li-indent">Leave it alone. Run away. Erase that part of the map.</li>
        <li class="li-indent">Useful for tanking bosses such as Deerclops.</li>
        <li>Ewecus</li>
        <li class="li-indent">This thing is disgusting trash. Sheep that spits mucus and traps you. Unless you have
          armor and a comrade,
          avoid.</li>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Non-Agro Creatures
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Bosses
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Exploration
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Other Useful Information
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
<div class="accordion-all-buttons">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>

<p>include links to steam</p>
